@import url("styles/carrossel.css");

:root {
    --cor-fundo: #26335D;
    --cor-texto: #FFFFFF;
    --cor-texto-card: #000000;
    --font-principal: "Montserrat";
    --cor-whatsapp: #34af23;
}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    font-family: var(--font-principal);
}

.logo {
    display: flex;
    margin: 2em 1em 2em 3.5em;
    align-items: center;
}

.img__livro {
    width: 50px;
}

span {
    position: relative;
    top: 9px;
}

.text__logo h1 {
    text-align: center;
    padding: 0 1em ;
}

.cabeçalho {
    background-color: #F6F7FB;
    margin: 2em;
    border-radius: 24px;
}

.cabeçalho__banner {
    display: flex;
}

.cabeçalho__imagem-png {
    width: 150px;
    margin: 1em 0.5em;
}

.banner {
    padding: 1em;
}

.cabeçalho__banner {
    text-justify: auto;
}

.cabeçalho__titulo {
    color: var(--cor-fundo);
    font-family: var(--fonte-principal);
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 1em;
}

.cabeçalho__texto {
    color: var(--cor-fundo);
    font-size: 12px;
    font-weight: 700;
}

.metodologia__texto {
    display: flex;
    margin: 1em 0.5em;
    width: 95%;
}

.docente__texto {
    margin: 0 1em;
    padding: 1em;
    font-size: 13px;
    font-weight: 700;
    text-justify: auto;
    border-radius: 10px;
    width: 50%;
    color: var(--cor-texto-card);
    background-color: var(--cor-texto);
}

.imagem__midia {
    width: 200px;
    margin: 1em 3.5em;
}

.midias {
    display: flex;
    justify-content: space-around;
}

.botão__midia {
    text-decoration: none;
    border: 1px solid;
    width: 90%;
    padding: 1em;
    margin: 0.5em;
    border-radius: 24px;
    box-sizing: border-box;
}

.botão__whatsapp {
    background: url(assets/whatsapp.png);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: 5px;
    padding-left: 2.5em;
    background-color: var(--cor-whatsapp);
}

.botão__instagram {
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  }

.imagem__instagram {
    display: inline-block;
}

.mapa {
	padding: 0;
}

.mapa-conteudo{
	margin: 1.3em;
}

.mapa p {
	margin: 0 0 2em;
	text-align: center;
}

iframe {
    border-radius: 24px;
}

footer {
    text-align: center;
    padding: 2em;
}

footer a {
    text-decoration: none;
    color: var(--cor-texto);
}